.container-fluid {
  padding: 0;
}
h1 {
  background-color: rgb(34, 39, 114);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 55px;
  color: aliceblue;
}
.btn {
  background-color: rgb(40, 82, 136);
  color: whitesmoke;
  margin: 10px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 30px;
  text-align: left;
}
#trans-btn {
  background-color: rgb(12, 85, 95);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: 10px;
}

.small-screen {
  textarea {
    width: 95%;
    height: 20vh;
    font-size: 25px;
  }
}

.large-screen {
  textarea {
    width: 100%;
    min-height: 40vh;
    font-size: 25px;
  }

  .translate-container {
    border-right: 3px solid black;
    min-height: 30vh;
    padding-left: 2rem;
    padding-top: 100px;
  }

  .translate-container2 {
    padding-left: 2rem;
    padding-top: 75px;
  }

  .container {
    padding-left: 0rem;
  }
  .container2 {
    padding-left: 2rem;
  }
}
button {
  background-color: rgb(34, 39, 114);
  color: #ffffff;
  padding: 5px;
  margin-top: 20px;
  &:hover {
    background-color: rgba(34, 39, 114, 0.842);
  }
}
