<div class="container-fluid">
  <h1>Translator Guru</h1>
  <hr />
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 translate-container">
      <p>Choose language here...</p>
      <!--Button 1 Source Language-->
      <div class="btn-group" dropdown>
        <button
          id="button-animated"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-animated"
        >
          Pick a Language <span class="caret"></span>
        </button>
        <ul
          id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated"
        >
          <li role="menuitem"><a class="dropdown-item" href="#">English</a></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Spanish</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Italian</a>
          </li>
        </ul>
      </div>
      <!--Swap Icon-->

      <!--Button 2 Target Language-->
      <div class="btn-group" dropdown>
        <button
          id="button-animated"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-animated"
        >
          Pick a Language <span class="caret"></span>
        </button>
        <ul
          id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated"
        >
          <li role="menuitem"><a class="dropdown-item" href="#">English</a></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Spanish</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Italian</a>
          </li>
        </ul>
      </div>

      <!--Text Box-->
      <textarea name="" id="" cols="40" rows="15"></textarea>
      <hr />
      <button class="btn btn-primary" id="trans-btn">Translate!</button>
    </div>
  </div>
</div>
